<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="0.1" package="net.rdrei.android.simstatus.tests">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17"/>

	<application android:debuggable="true">
		<uses-library android:name="android.test.runner"/>
	</application>

	<instrumentation android:label="Sim City Status - Integration Tests" android:name="android.test.InstrumentationTestRunner" android:targetPackage="net.rdrei.android.simstatus" />

</manifest>
